@model IEnumerable<ProductViewModel>


    @* SHOULD REALLY BE USED TO FILTER CATEGORIES; BUT NOTHING IN DATA TO FILTER BY *@
    @foreach (var product in Model.OrderBy(p => p.Description))
    {
        <li class="product-nav">
            <a asp-action="show" asp-controller="Product" asp-route-id="@product.ProductID" >
                @product.Name
            </a>
        </li>
    }

