@model IEnumerable<ProductViewModel>

            @foreach (var product in Model.OrderBy(p => p.Description))
            {
                <li>
                    <a asp-action="show" asp-controller="Product" asp-route-id="@product.ProductID" class="">
                        @product.Name
                    </a>
                </li>
            }
        </ul>
