@model System.Collections.IDictionary
<div id="bad-request" class="container-fluid">
    <h2 class="mb-5">The page you requested is not available.</h2>


    <h4 class="mb-5">The site maybe down or the address to the requested page has changed. Please try your request again later.</h4>

    
    <h5 class="mb-5">If you feel you have reached this page in error please contact the site administrator at admin@admin.com</h5>
     
    
    </div>
