
@model IEnumerable<Error>
<h4 class="mt-5 mb-5" id="error-heading">...Oops something went wrong!</h4>

@foreach (Error err in Model)
{
    <p>Error Field: @err.DataElement</p>
    foreach (var msg in err.DataElementErrors)
    {
        <p>Message: @msg</p>
    }
}
<a asp-action="Index" asp-controller="Product">Go Back to Storefront</a>
