/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {

    padding-bottom: 20px;
}
body, h4, h5, h6, p {
    font-family: Helvetica,Arial,sans-serif;
    
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
nav {
    background-color: #0471af;
}

 li, ul {
     list-style: none;
 
}
#bad-request {
    margin: 100px auto;
    text-align: center;
    
}
li.product-nav>a, li.product-nav{
    color: #5d5d5d;
    text-overflow: clip;
    overflow: hidden;
    width:100%;
}
.card {
    display: inline;
    border: blue solid 1px;
    border-radius: 5%;
}


.product-nav {
 font-size: 14px;
    white-space: nowrap;
    width: 18%;
   
}

.design {
    background: #e3e5e8;
    padding: 15px;
    margin: 15px 0;
}


.product-content-panel {
    border: 1px solid #e3e5e8;
    width: 35%;
    padding: 30px;
    margin: 40px auto;
    height: fit-content;
}
.product-image-panel {
    width: 35%;
    display: inline-block;
    padding: 1% 0 1% 2%;
    margin: 2% 0 2% 2%;

}
.order-button {
    background-color: #338700;
    cursor: pointer;
}
.product-image{
   
    width: 100%;
   
}
#countrySelector {
    display: inline-block;
    width: fit-content;
}

product-view {
    display: inline;
}
/* .design-information { */
/*     display: none; */
/*   } */
#products-heading {
    margin: 20px 0 20px 0;
    color: #0471Af;
    font-weight: 700;
}

.product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;;
}



.list-group-item {
    margin: 5px;
    width: 330px;
    height: 75px;
    cursor: pointer;
}
.product-block-heading {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
}
.product-block-image {
    width: 25%;
    text-align: center;
}
 
.product-block-text:hover {
    font-weight: 700;
    color: #0471Af;
  
}
.product-block-text{
    font-weight: 600;
    color: #333;
    
}
a, a:hover {
    text-decoration: none;
}

.address-block {
    display: inline-block;
    width: 50%;
}
address {
    border: #e3e5e8 solid 1px;
    display: inline-block;
    width: 40%
       
}