/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
 li, ul {
     list-style: none;
 
}
#bad-request {
    margin: 100px auto;
    text-align: center;
    
}
.card {
    display: inline;
    border: blue solid 1px;
    border-radius: 5%;
}
a.card {
    margin: 5px;
    width: 130px;
    height: 160px;
    padding-top: 5px;
}
.card-body {
    padding: 0;
    margin-left: 30px;
   
}

.card-title {
    font-size: 10px;
    overflow-wrap: normal;
    width: 120px;

}
.card-subtitle {
    font-size: 12px
}

.card-img-top {
    width: 100px;
    height: 100px;
}

.product-nav {
 font-size: 14px;
    overflow: hidden;

    white-space: nowrap;

}
.design {
    border: 3px black solid;
    padding: 15px;
    margin: 15px;
}
