@{
    ViewData["Title"] = "Home Page";
}

@model ProductDetailsViewModel




<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
        <h4>Product List</h4>

        @await Component.InvokeAsync("ProductNav")
    </div>
    <div class="col-sm-12 col-md-9">
        @Model.ImageUrl
    </div>
</div>
